.container {
  height: 85vh;
  max-height: 700px;
  padding-top: 20px;
  position: relative;
}

.text {
  font-family: "Ruberoid";
  color: white;
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
  margin: auto;
  width: 100%;
  line-height: 99px;
  letter-spacing: 0.07em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.svgBg {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 3;
}

.title {
  font-family: "Ruberoid";
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  z-index: 99;
  line-height: 99px;
  letter-spacing: 0.07em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
