.content {
  margin: 300px auto;
  position: relative;
  max-width: 1200px;
}
.sectionTitle {
  position: absolute;
  left: 0;
  top: 10px;
  font-family: "Unbounded";
  font-size: 13.91px;
  font-weight: 400;
  line-height: 17.25px;
  color: white;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
