.blocks {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  justify-content: space-between;
}


.priceTitle,
.planItem,
.title,
.priceDetails,
.planTitle {
  color: white;
}
.priceDetails {
  font-family: Ruberoid;
  font-size: 50px;
  font-weight: 600;
  margin-top: 8px;
  text-transform: uppercase;

  line-height: 49.5px;
  letter-spacing: 0.07em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.priceTitle {
  font-family: "Unbounded";
  font-size: 13.91px;
  font-weight: 400;
  line-height: 17.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.title {
  font-family: "Ruberoid";
  font-size: 90px;
  width: 75.5%;
  font-weight: 800;
  line-height: 99px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.serviceVideo {
  width: 80%;
}
.w50 {
  width: 50%;
}
.block,
.mt50 {
  margin-top: 30px;
}
