.planList {
  display: flex;
  justify-content: space-between; /* Распределяет пространство между элементами */
  gap: 15px;
  margin-top: 15px;
  flex-wrap: nowrap;
}

.planItem {
  font-family: "Unbounded";
  font-size: 10px;
  color: #FFFFFFC2;
  font-weight: 300;
  line-height: 14.71px;
  width: 100%; /* Занимает всю доступную ширину внутри контейнера */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  flex-grow: 1; /* Делает элементы растягивающимися */
}
.block {
  margin-top: 50px;
}

.planTitle {
  color: white;
  font-family: "Unbounded";
  font-size: 13.91px;
  font-weight: 700;
  line-height: 17.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
