.content {
  height: 100vh;
  background-color: black;
  max-height: 700px;
  margin: 100px 0;
}

.flexFullScreen {
  display: flex;
  max-width: 1200px;
  margin: auto;
  position: relative;
  height: 100%;
  cursor: none;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.topContent {
  display: flex;
  align-items: flex-start;
  height: fit-content;
  justify-content: space-between;
}
.mainContent {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.pic {
  position: relative;
  width: 100%;
  height: 300px;
}
.pic > video {
  position: absolute;
  right: 0;
  left: 0;
  top: -20px;
  opacity: 1;
  transition: 1s;
  bottom: 0;
  max-width: 40%;
  margin: auto;
}
.changeVideo {
  top: 100px !important;
  opacity: 0 !important;
}
.caseLink {
  width: fit-content;
  height: fit-content;
  margin-left: 15px;
}
.caseLink:hover {
  background-color: red;
}
.caseLink > a {
  display: block;
  height: fit-content;
}
.descriptionCase {
  font-family: "Ruberoid";
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 99px;
  transition: 1s;
  letter-spacing: 0.07em;
  opacity: 1;
  color: white;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.descriptionCaseChange {
  margin-top: -200px !important;
  opacity: 0 !important;
}

.description {
  font-family: "Unbounded";
  font-size: 13.91px;
  font-weight: 300;
  line-height: 17.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 69%;
}
.caseList,
.bottomContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.topContent > h2 {
  font-family: "Unbounded";
  font-size: 13.91px;
  font-weight: 400;
  line-height: 17.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.cursor {
  position: absolute;
}

.topContent > * {
  color: white;
}
